#robot-runner-panel .resizable-content {
    border: none;
    height: 140px;
    overflow-x: auto;
    overflow-y: scroll;
    font-family: Consolas,Monaco,Lucida Console,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
    white-space: pre;
    margin-left: 0px;
    padding: 10px;
    color: #000;
    background-color: #fff;
}

#robot-runner-panel .resizable-content .status-fail {
    color: #f00;
}

#robot-runner-panel .resizable-content .status-warn {
    color: #ff0;
}

#robot-runner-panel .resizable-content .status-pass {
    color: #0f0;
}

#robot-runner-panel .toolbar {
    display: block;
}

#robot-runner-panel .toolbar #spinner {
    padding-top: 2px;
    padding-bottom: 2px;
}

#robot-runner-panel .toolbar .close {
    position: absolute;
    top: .75em;
    right: .5em;
}

#robot-runner-panel .toolbar .command {
    width: 90%;
    margin: 2px 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}


